.side-nav {
  position: fixed;
  height: 100%;
  width: 50px;
  background: #202020;
}

.side-nav-button {
  position: relative;
  height: 50px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.side-nav-button i {
  position: relative;
  width: 100%;
  margin-top: 0px;
  font-size: 1.6em;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: white;
}

.side-nav-button:hover {
  background: #131313;
  border-left: 3.5px solid #0d77e2;
}

.side-nav-button:hover i {
  color: #0d77e2;
}

#top-nav-button {
  margin-top: 0px;
  border-right: 1.5px solid #1b1b1b;
  border-bottom: 1.5px solid #171717;
  padding-bottom: 2.5px;
}

#top-nav-button:hover {
  border-left: none;
  background: #252525;
}

#archer-a-icon {
  filter: invert(100%);
  position: relative;
  width: 30px;
  top: 10px;
}

.bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.sidenav-tooltip {
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  padding: 12px;
  margin: 0px;
  box-sizing: border-box !important;
  line-height: 1;
}