.publish-button {
	position: absolute;
	left: 65px;
	top: 10px;
	z-index: 1;
	background-color: #0d77e2;
	width: 100px;
	color: #fafafa;
	align-items: center;
	justify-content: space-between;
	border: 1px solid hsla(210, 89%, 30%, 1);
	padding: 5px 10px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 1px #7c7c7c;
	-webkit-box-shadow: 2px 2px 2px 1px #7c7c7c;
}

.btn-primary:hover, .publish-button:hover {
	background-color: hsla(210, 89%, 30%, 1)
}