#beta-modal-content {
	padding: 20px;
	max-width: 400px;
}

.modal-title {
	margin-bottom: 20px;
}

#beta-email-submit {
	margin-left: 10px;
}

#beta-email-submit:focus {
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.modal-form {
	padding: 0 0px;
}

a.underlined-link {
	text-decoration: underline !important;
}