@font-face {
    font-family: 'source-code-pro';
    src: url('/fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
    url('/fonts/sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.entity-container {
    width: calc(100%);
    padding: 20px 20px 0 20px;
}

.entity-header-wrapper {
    display: flex;
    flex-direction: column;
}

.entity-header {
    display: block;
    text-align: center;
}

.entity-name {
    font-size: 20px;
    font-weight: bolder;
}

.entity-type {
    margin-left: 5px;
    color: #646464;
    padding-top: 5px;
}

.entity-source {
    margin: 0 auto;
}

.entity-body {
    padding: 0 10px;
}

.info-row {
    display: flex;
    flex-direction: column;
}

.info-key {
    white-space: nowrap;
}

.info-value {

}

.info-value-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.subheader {
    margin-top: 20px;
    margin-bottom:20px;
    text-align: center;
    font-weight: 100;
}

.placeholder-text {
    font-family: Montserrat sans-serif;
}