.search-bar {
  margin-bottom: 10px;
}

.searchResults{
  width: 100%;
  margin: 0 0 40px 0;
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.entity-result {
	border-bottom: 1px solid #CCCCCC;
}