/*
.outerContainer{
  width: 100%;
  height: 46px;
  background-color: #555555;
  position:fixed;
  z-index: 990;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.logo {
  width: 159px;
  height: 34px;
  margin-left: 20px;
  background-image: url('/logo.png');
  background-size: 159px 34px;
  z-index: 999;
  background-repeat: no-repeat;
  flex-grow: 1;
}

.architect {
  font-size: 25px;
  font-family: "Helvetica Neue";
  text-decoration: none;
  letter-spacing: 1px;
  color:white;
  margin-left: 20px;
  float: left;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-dropdown {
  display: inline-block;
}

.right-link {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 8px 6px;
  margin: 0px 4px;
  text-decoration: none;
  letter-spacing: 1px;
}

.right-link:hover, .right-link:active {
  border-bottom: 2px solid #FE6060
}
*/
.active-right-link {
  border-bottom: 3px solid #FE6060;
}
/*
.nav-dropdown:hover .nav-dropbtn, .nav-dropbtn:focus {
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.nav-dropdown .nav-dropbtn{
  all: unset;
  cursor: pointer;
  font-size: 16px;  
  letter-spacing: 1px;  
  border: none;
  outline: none;
  color: white;
  padding: 8px 6px;
  background-color: #FE6060;
  font-family: inherit;
  margin: 0 2px;
}


.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  margin: 0 2px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.nav-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav-dropdown-content a:hover, .nav-dropdown-content button:hover {
  background-color: #ddd;
}

.nav-dropdown-content-button, .nav-dropdown-content-button:hover{
  all: unset;
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.right-buttons {
  float: right;
  margin-right: 20px;
}

*/

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

nav.navbar {
    padding: 1em 1em;
    z-index: 10;
}

.active>.nav-link {
    color: #ff7700 !important;
}

/*.nav-item {
    border-bottom: 3px solid transparent;
}*/

.nav-link:hover, .nav-link:focus {
  color: #ff7700 !important;
}

@media (min-width: 992px) {
    .nav-item.active {
        border-bottom: 3px solid #ff7700;
    }
}

.nav-link {
    font-size: 1.1em;
}

.nav-item {
    margin-right: 30px;
}

.navbar-dark {
    background-color: #343a40 !important;
}
