
.main {
    margin-left: 220px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    background-color: #e9ebee;
    height: 100%;
    width: calc(100% - 240px);
    position: absolute;
    margin-top: 64px;
}
