@import url('https://fonts.googleapis.com/css?family=Open Sans');

body {
	font-family: 'Open Sans', sans-serif;
  color: #1a1a1a;
}

.main {
  margin-left: 0px;
  width: calc(100%);
  position: absolute;
}

.show-nav {
  height: calc(100% - 46px);
}

.no-nav {
  height: 100%;
}

a {
  color: #4f4844;
  /*color: #f48942;*/
}

a:hover {
  color: #222;
  text-decoration: underline;
}