.node{
  fill: #000;
  stroke: #959595;
  stroke-width: 3px;
  z-index: 998;
  position: relative;
}

.node.fixed{
  stroke: #FA78E6;
}

.link.fixed{
  stroke: #FA78E6;

}

.link{
  stroke: #ccc;
  stroke-width: 3px;
}

.node.centerNode, .link.centerNode{
  stroke: #25DEB4;  
}

.node.center {
  stroke: #FA78E6;
}

.node.documentNode {
  stroke: #241CEF;
  fill: #EBEBEB;
}