* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 900px;
  font: normal 16px arial, sans-serif;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#graph-container {
  height: 100%;
}

.svg-content {
  height: 100%;
  width: 100%;
}

svg {
  border: 3px solid #fff;
  z-index: -3;
}


svg rect.extent {
  stroke: #ccc;
  stroke-width: 2px;
  fill: #edf5fc;
}

svg line {
  stroke: #ebebeb;
  stroke-width: 1.5px; 
}

button {
  font-size: 14px;
  color: #000;
  letter-spacing: 1px;
  background-color: white;
  border: 1px solid #0d77e2;
  border-radius: 4px;
  padding: 10px;
}

button:hover {
  color: white;
  background-color: #0d77e2;
  border: none;
}

button:focus {
  outline: none;
}

.link {
  stroke: #545454;
  opacity: 1;
  transition-property: opacity;
  transition-delay: 0ms;
  transition-duration: 50ms;
}

.link.dynamic {
  pointer-events: none;
}

.link.hidden {
  stroke-width: 0;
}

.node {
  fill: #ebebeb;
  stroke: #545454;
  opacity: 1;
  transition-property: stroke-opacity, fill-opacity;
  transition-delay: 0ms;
  transition-duration: 50ms;
}

.node text {
  stroke: #545454;
  fill: #545454;
  cursor: pointer;
  stroke-width: 1px; 
}

.node text.icon {
  stroke: none;
  fill: #545454;
}

.node circle {
  cursor: pointer;
  stroke-width: 3px;
}

.node tspan.text-shadow {
  stroke-width: 4px;
  stroke: #fff;
}

.node.fixed circle {
  fill: #bbbbbb;
}

.node.grouped circle {
  fill: #7cbdff;
}

.node.grouped.fixed circle {
  fill: #0d77e2;
}

.hull, path {
  fill: #0d77e2;
  stroke-opacity: 1;
  fill-opacity: 0.2;
  stroke: #7cbdff;
  stroke-width: 2px;
  transition-property: stroke-opacity, fill-opacity;
  transition-delay: 0ms;
  transition-duration: 50ms;
}

.button {
  fill: #0d77e2;
  opacity: 0.4;
}

#node-tooltip {
  width: 240px;
  background: rgba(255, 255, 255, .75);
  border: 1px solid #000;
  border-radius: 1px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  color: #000;
  letter-spacing: 1px;
  transition-delay: 75ms;
}

.tooltip-title {
  font-size: 20px;
  border-bottom: 1.5px solid #0d77e2;
  background: rgba(13, 119, 226, .2);
  padding: 5px;
  color: #0d77e2;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

i.fa-close {
  left: auto;
  font-size: 16px; 
  padding: 1px;
}

.content-entry {
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.content-entry:last-child {
  border-bottom: none;
}

.tooltip-left {
  margin: auto;
  margin-left: 0px;
  max-width: 150px;
}

.tooltip-right {
  margin: auto;
  margin-right: 0px;
  display: flex;
  text-align: right;
  flex-direction: row;
  font-size: 14px;
  max-width: 165px;
  color: #545454;
}

#svg-image {
  border: none;
}

#minimap-box {
  fill: #fff;
  opacity: 0.8;
}

#minimap-box-square {
  fill: #b1b1b1;
  opacity: 0.4;
  border:3px solid #fff;
}

.faded {
  transition-delay: 75ms;
}

.node.faded {
  stroke-opacity: 0.1;
  fill-opacity: 0.1;
  transition-property: stroke-opacity, fill-opacity;
}

.link.faded {
  opacity: 0.1;
  transition-property: opacity;
}

.hull.faded {
  stroke-opacity: 0.2;
  fill-opacity: 0.05;
  transition-property: stroke-opacity, fill-opacity;
}

.link.same-as {
  stroke-dasharray: 5,3;
}

.node.selected circle {
  stroke-width: 3px;
  stroke: #0d77e2;
}

.link.selected {
  stroke: #0d77e2;
}