svg {
  border: 5px solid #ccc;
}

.link {
  stroke: #aaa;
  stroke-width: 3px;
}

.node {
  fill: #aaa;
  stroke: #aaa;
}

.node text {
  stroke: #333;
  cursor: pointer;
}

.node circle{
  cursor: pointer;
  stroke-width: 4px;
}

.node .fixed {
  fill: #545454;
}

.node .active {
  stroke: #000;
  stroke-width: 4px;
}

.node .selected {
  stroke: #0d77e2;
  stroke-width: 4px;
}