* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 900px;
  font: normal 16px arial, sans-serif;
  overflow: hidden;
}

svg {
  border: 3px solid #fff;
}

.link {
  stroke: #545454;
  stroke-width: 5px;
}

.link.selected {
  stroke: #0d77e2;
}

.node {
  fill: #ebebeb;
  stroke: #545454;
}

.node text {
  stroke: #545454;
  fill: #545454;
  cursor: pointer;
}

.node circle{
  cursor: pointer;
  stroke-width: 4px;
}

.node .fixed {
  fill: #bbbbbb;
}

.node .active {
  stroke: #000;
  stroke-width: 4px;
}

.node .selected {
  stroke: #0d77e2;
  stroke-width: 4px;
}

rect.extent {
  stroke: #ccc;
  stroke-width: 2px;
  fill: #edf5fc;
}