.outerBox{
  display: block;
  background-color: white;
  padding: 12px;
}

.heading, .identifyingInfo{
  white-space:nowrap;
}

.titleName, .info, .status, .actions{
  display:inline-block;
}

.info{
  margin-right:15px;
  margin-top:10px;
  margin-bottom:10px;
}

.actions{
  float:right;
}

.titleText, .status {
  margin:0px;
  padding:0px;
}

.status{
  margin-left: 15px;
  color: green;
}

.heading {
  margin-bottom: 7px;
}