@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

.outerBox{
  display: block;
  background-color: white;
  padding: 12px;
  font-family:normal 16px arial, sans-serif;
}

.heading, .identifyingInfo{
  white-space:nowrap;
}

.titleName, .info, .status, .actions{
  display:inline-block;
}

.info{
  font-weight: 400;
}

.info{
  margin-right:15px;
  margin-top:10px;
  margin-bottom:10px;
}

.actions{
  float:right;
}

/* .titleText {
  cursor:pointer;
  /* color:blue; */
  /* text-decoration:underline; */


.titleText, .status {
  margin:0px;
  padding:0px;
}

.status{
  margin-left: 15px;
  color: green;
}

.heading {
  margin-bottom: 7px;
}