.documentRender {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-left:280px;
}

.docCard {
	position: relative;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;	
}

.search {
	margin-top: 20px;
	text-align: center;
}

.pageChange {
	display: inline-block;
	margin-right: -500px;
	margin-left: 200px;
}