body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.documentList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.docCard {
	position: relative;
	margin-top: 100px;
	margin-left: 20px;
	margin-right: 20px;	
}

.search {
	margin-top: 20px;
	text-align: center;
}