/*.title {
  font-weight: 300;
  display: block;
  color: gray;
}*/
/*.app_input {
  max-width: 700px;
  width: 70%;
  height: 40px;
  border: none;
}
*/
.searchBody{
  white-space: nowrap;
  margin: 0 auto;
}

.search-input-container {
    display: block;
    position:relative;
    margin:0 auto;
    background:#ffffff;
    max-width: 500px;
    width: 100%;
    border: 1px solid #ccc;
}
.input {
    height: 30px;
    width: calc(100% - 40px);
    border: none;
    display: inline-block;
    padding: 8px;
}

.input:focus{
  outline: none ;
}

.search-button {
  all: unset;
  background-color: #555555;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 50%
}
.search-icon {
  color: #FAFAFA;
}