/*.title {
  font-weight: 300;
  display: block;
  color: gray;
}*/
/*.app_input {
  max-width: 700px;
  width: 70%;
  height: 40px;
  border: none;
}
*/
.searchBody{
  white-space: nowrap;
  margin: 0 auto;
}

.search-input-container {
  display: block;
  position:relative;
  margin:0 auto;
  background:#ffffff;
  max-width: 650px;
  width: 100%;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
}
.search-input {
    max-height: 60px;
    font-size: 19px;
    width: calc(100% - 60px);
    border: none;
    display: inline-block;
    padding: 14px;
}

.search-input:focus{
  outline: none ;
}

.search-button {
  all: unset;
  background-color: #555555;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 50%;
}
.search-icon {
  color: #FAFAFA;
}
