.result-card {
    margin-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: transparent;
}

.result-card-header {
    border: 0;
    background-color: transparent;
    padding: 12px 5px;
}

.result-card-body {
    padding: 0 0 0 35px;
}

.card-body-condensed {
    margin-left: 0;
    border-left: 0;
}

.card-sdn-type {
    font-size: 12px;
    color: #aaaaaa;
    margin-left: 1em;
    background-color: #eeeeee;
    padding: 5px;
    max-width: 90px;
    max-height: 30px;
    overflow-y: hidden;
}

p.sdn-type {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h5.card-detail-header {
    font-size: 14px;
    margin-top: 1em;
    letter-spacing: 2px;
}

li.no-bullet {
    list-style: none;
}

.card-pills {
    display: flex;
    margin-left: auto;
}

.entity-icon {
    cursor: pointer;
    color: #0d77e2;
    margin: auto 10px auto 0;
    font-size: 20px;
}

.collapse-link:hover, .entity-icon:hover {
    color: #000;
}

.collapse-link, .card-program {
    color: #666666;
}

.collapse-link {
    margin-left: 10px;
}

.collapse-link:hover {
    text-decoration: underline;
    cursor: pointer;
}