.result-card {
    margin-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: transparent;
}

.result-card-header {
    border: 0;
    background-color: transparent;
}

.result-card-body {
    padding: 0 0 0 35px;
}

.card-body-condensed {
    margin-left: 0;
    border-left: 0;
}

small.card-sdn-type {
    font-size: 12px;
    color: #aaaaaa;
    margin-left: 1em;
}

h5.card-detail-header {
    font-size: 14px;
    margin-top: 1em;
    letter-spacing: 2px;
}

li.no-bullet {
    list-style: none;
}

.entity-icon {
    cursor: pointer;
    color: #ff5d4c;
    margin: auto 10px auto 0;
    font-size: 20px;
}

.collapse-link:hover, .entity-icon:hover {
    color: #000;
}

.collapse-link, .card-program {
    color: #666666;
}

.collapse-link {
    margin-left: 10px;
}

.collapse-link:hover {
    text-decoration: underline;
    cursor: pointer;
}