.project-toolbar {
  position: absolute;
  /* top: calc(10px + 8px); */
  left: 120px;
  border: 1px solid #D4D4D4;
  border-top: 0;
  cursor: pointer;
  /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); */
  background-color: #f0f0f0;
  z-index: 100;
  padding: 8px;
}

.project-name {
  border-bottom: 1px solid #D4D4D4;
  padding-bottom: 4px;
}

.settings {
  float:right;
  padding: 0px 4px;
  border-left: 1px solid #D4D4D4;
}

.back-proj-icon {
  font-size: 20px;
}