.footer {
	background-color: rgb(35, 35, 35);
}

.footer, .footer-layout-container {
	height: 140px;
}

.footer-layout-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logo {
	height: 80px;
}

.footer-tagline {
	color: white;
}

.social-media-links {
	display: flex;
	justify-content: space-between;
}

img.social-icons {
	height: 40px;
}