.footer {
	background-color: rgb(35, 35, 35);
}

.footer, .footer-layout-container {
	height: 140px;
	margin-left: -20px; 	/* TODO: temporary until we replace the image with a proper one */
}

.footer-layout-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logo {
	height: 80px;
}

.footer-tagline {
	color: white;
}

.social-media-links-container {
	display: flex;
	justify-content: space-between;
	color: white;
	width: 300px;
}

.social-media-icon {
	color: #aaaaaa;
}

.social-media-icon:hover {
	color: #fafafa;
}