
.outerBox{
  display: block;
  background-color: white;
  padding: 16px;
}

.heading, .identifyingInfo{
  white-space:nowrap;
}

.titleName, .info, .status, .actions{
  display:inline-block;
}

.titleName {
  font-size: 20px;
  color: #0D77E2;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.info, .status{
  font-size: 14px;
  color: #000;
  letter-spacing: 1px;
}

.info{
  margin-right:15px;
  margin-top:10px;
}

.actions{
  float:right;
}

.titleText, .status {
  margin:0px;
  padding:0px;
}

.status{
  margin-left: 15px;
  color: green;
}

.heading {
  margin-bottom: 7px;
}