@import url('https://fonts.googleapis.com/css?family=Open Sans');

body {
	font-family: 'Open Sans', sans-serif;
  color: #1a1a1a;
  overflow-y: auto;
}

.main {
  height: 100%;
  margin-left: 0;
}

.y-scrollable {
  overflow-y: auto;
}

.show-nav {
  height: calc(100% - 46px);
}

a {
  color: #4f4844;
}

a:hover {
  color: #0D77E2;
}

a:link {
  text-decoration: none;
}