@import url('https://fonts.googleapis.com/css?family=Open Sans:300,300italic,400,400italic,600,800,900');

body {
	font-family: 'Open Sans', sans-serif;
  color: #1a1a1a;
  overflow-y: auto;
/*  background: #f7f7f7;
*/}

.main {
  height: 100%;
  margin-left: 0px;
}

.y-scrollable {
  overflow-y: auto;
}

.show-nav {
  height: calc(100% - 46px);
}

.no-nav {
  height: 100%;
}

a {
  color: #4f4844;
}

a:hover {
  color: #0D77E2;
}

a:link {
  text-decoration: none;
}