.flex-row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 630px;
  height: 100%;
}

.tabs {
  width: 30px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 100;
  box-shadow: -10px 4px 20px -7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -10px 4px 20px -7px rgba(0, 0, 0, 0.3);
}

.tab {
  width: 30px;
  border: 1px solid #D4D4D4;
  border-right: 0;
  height: 42px;
  cursor: pointer;
  background-color: #f0f0f0;
  text-align: center;
  border-right: 1px solid #bbbbbb;
}

.tab:hover {
  background-color: #ffffff;
}

.tab.active-tab {
  background-color: #ffffff;
  border-right: 0;
}

.sidebar-collapse:hover {
  background-color: #fafafa;
}

.tab-icon {
  margin-left: 0;
  margin-top: 10px;
  font-size: 22px;
}

.sticky-divider {
  margin: 0;
  border-top: 1px solid rgb(0,0,0,0.1);
}


.searchbar-container, .results-container {
  width: 100%;
}

.searchbar-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
  padding-top: 10px;
  width: 100%;
  padding: 10px 10px 10px 10px;
  background-color: #ff5d4c;
}

.results-container {
  flex-grow: 10;
  padding: 0 20px;
  overflow-y: scroll;
}

.sidebar-container {
  box-shadow: -1px -1px 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px -1px 20px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100% !important;
  height: 100%;
  padding:  0;
  z-index: 10;
  border: 1px;
  background-color: #FFFFFF;
}

.slide-in {
  transform: translate(600px);
  transition: transform 400ms ease-in-out;
}

.slide-out {
  transform: translate(0);
  transition: transform 400ms ease-in-out;
}

