* { 
  box-sizing: border-box; 
}

#header {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fafafa;
}

#header .container {
  pointer-events: none;
  z-index: 1;
}

.interactive-banner-logo-container {
  display: flex;
  flex-direction: row;
}

.interactive-banner-logo {
  height: 65px;
  filter: invert(100%);
}

.interactive-banner-sublogo {
  color: #7c00ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 75px;
  margin-top: -14px;
}

.interactive-banner-title {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  font-weight: 700;
}

.interactive-banner-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin-top: 15px;
}

.text-emphasis {
  color: #7c00ff;
  font-weight: 500;
}

.beta-section {
  background-color: #7c00ff;
  color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;
}

.sign-up-tagline {
  margin: 0;
  font-size: 20px;
  vertical-align: baseline;
}

.sign-up-form {
  width: 150px;
  display: flex;

}

#sign-up-input {
  margin: 0;
  background-color: transparent;
  border: 0;
}

.sign-up-row {
  justify-content: space-between;
  align-items: center;
}

.vignettes-section {
  padding: 30px 0;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url('../../images/bright_squares.png');
  background-repeat: repeat;
}

.vignette-holder {
  margin-bottom: 30px;
}

#find-out-more-section {
  background-color: #7c00ff;
  font-family: 'Montserrat', sans-serif;
  color: #fafafa;
  padding: 50px 0;
  text-align: center;
}

#find-out-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

}

#main-website-link {
  color: #fafafa;
  text-decoration: underline;
  /*margin-left: 5px;*/
}

#main-website-link:hover {
  color: #fafafa;
}