.elementContainer {
  flex-grow: 1;
}

.elementContainer:hover {
  background-color: #efefef;
}

.elementContainer:visited, .elementContainer:focus{
  text-decoration-color: '#3498db'; 
}

.elem {
  margin-left: 4px;
  font-family: sans-serif;
}