* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 900px;
  font: normal 16px arial, sans-serif;
  overflow: hidden;
}

#graph-container {
  top:0px;
}

svg {
  border: 3px solid #fff;
  z-index: -1;
}


svg rect.extent {
  stroke: #ccc;
  stroke-width: 2px;
  fill: #edf5fc;
}

svg rect.background {
/*  cursor: -webkit-grab !important;
  cursor: grab !important;*/
}

svg line {
  stroke: #ebebeb;
  stroke-width: 1.5px; 
}

button {
    font-size: 14px;
    color: #000;
    letter-spacing: 1px;
    background-color: white;
    border: 1px solid #0d77e2;
    border-radius: 4px;
    padding: 10px;
}

button:hover {
  color: white;
  background-color: #0d77e2;
  border: none;
}

button:focus {
  outline: none;
}

.link {
  stroke: #999999;
  stroke-width: 3px;
  transition-duration: 100ms;
  transition-property: stroke-opacity;
  transition-delay: 100ms;
}

.link.selected {
  stroke: #0d77e2;
}

.node {
  fill: #ebebeb;
  stroke: #999999;
  transition-duration: 100ms;
  transition-property: stroke-opacity, fill-opacity;
  transition-delay: 100ms;
}

.node text {
  stroke: #545454;
  fill: #545454;
  cursor: pointer;
  stroke-width: 1px; 
}

.node text.icon {
  stroke: none;
  fill: #999999;
}

.node circle {
  cursor: pointer;
  stroke-width: 3px;
}

.node.fixed circle {
  fill: #bbbbbb;
}

.node.active circle {
  stroke: #000;
  stroke-width: 3px;
}

.node.selected circle {
  stroke: #0d77e2;
  stroke-width: 3px;
}

.node.grouped circle {
  fill: #7cbdff;
}

.node.grouped.fixed circle {
  fill: #0d77e2;
}

.hull, path {
  fill: #0d77e2;
  fill-opacity: 0.2;
  stroke: #7cbdff;
  stroke-width: 2px;
}
