.flex-row {
    display: flex;
    width: 100%;
}

.full-height {
    height: 100%;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 450px;
    height: 100%;
    margin-left: 55px;
    border-right: 1px solid #ebebeb;
}

.tab-container {
    display: flex;
    justify-content: center;
    z-index: 20;
}

.sidebar.hidden {
    display: none;
}

.tab {
    width: 100%;
    background: #0d77e2;
    padding: 5px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 100;
    border: 0;
    color: white;
    outline: none;
}

.tab-selected {
    width: 100%;
    background: #FFFFFF;
    padding: 5px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 100;
    border: 0;
    color: white;
    outline: none;
}

.tab:focus {
    outline: none;
}

.sidebar-collapse:hover {
    background-color: #fafafa;
}

.tab-icon {
    margin-left: 0;
    margin-top: 10px;
    font-size: 22px;
}

.sticky-divider {
    margin: 0;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
}

.searchbar-container, .results-container {
    width: 100%;
}

.top-sidebar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.searchbar-container {
    background-color: #ffffff;
    z-index: 100;
    padding-top: 10px;
    padding: 10px 12px 0 12px;
    width: 100%;
    background-color: #0d77e2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

.results-container {
    padding: 0 20px;
}

.sidebar-container {
    /*
    box-shadow: -1px -1px 20px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px -1px 20px 0 rgba(0, 0, 0, 0.3);
    */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100% !important;
    height: 100%;
    padding: 0;
    z-index: 10;
    border: 1px;
    background-color: #FFFFFF;
}

.sidebar-content-container {
    width: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}

.full-width {
    width: 100%;
}

.slide-in {
    transform: translate(600px);
    transition: transform 400ms ease-in-out;
}

.slide-out {
    transform: translate(0);
    transition: transform 400ms ease-in-out;
}

