.entitiesListHeader {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-bottom: 12px;
}

/* DEPRECATED 02/22/2018 IN ENTITIES PAGE PR

.column {
  width:70%;
  margin:15px auto;
  text-align: center;
  position: relative;
  font-family: Open Sans, sans-serif; 

}*/

.projectHeading{
  font-family: Open Sans, sans-serif; 
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 100;
}

.container{
  margin: 30px;
  background-color: white;

}