.app {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rows .row {
    display: inline-block;
    margin: 40px;
 }

.p {
  display:inline;
  margin: 10px;
}

.projects{
  width:100%;
  padding: 15px 15px 15px 15px;
  margin: auto;
  display:inline-block;
}

.tabs{
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  background-color: #eeeeee;
}

.column{
  width:70%;
  margin:15px auto;
  text-align: center;
  position: relative;
}

.tab{
  background-color: #f2f2f2;
}


