.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rows .row {
    display: inline-block;
    margin: 40px;
 }

.p {
  display:inline;
  margin: 10px;
}


#summary, .table, .addentity{
  text-align:center;
}

#banner{
  width:90%;
}

.centered{
  text-align:center;
  padding: 10px;
}

.document-entities, .entity-box{
  display: flex;
  flex-direction: row;
}
.left-column{
  width: 30%;
  margin-right: 20px;
}

.middle-column{
  width:35%;
  padding: 20px;

}
.right-column{
  width: 30%;
}

.avatar{
  width:20px;
  height:20px;
}

.chips{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.header-text{
  width:100%;
  position: absolute;
}

#notifications{
  width:100%;
  text-align:right;
}

.table{
  width:80%;
  margin: 0 auto;
}

.add-text{
  width:50%;
  height: 300px;
}

.text-container{
  margin: 0 auto;
  width:80%;
  height: 350px;
}