.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rows .row {
    display: inline-block;
    margin: 40px;
 }

.p {
  display:inline;
  margin: 10px;
}

#hello{
  
}
#summary{
  text-align:center;
}

#banner{
  width:90%;
}

.body{
  width:100%;
}
.addentity{
  text-align:center;
}

.centered{
  text-align:center;
  padding: 10px;
}

.document-entities, .entity-box{
  display: flex;
  flex-direction: row;
}
.left-column{
  width: 30%;
  margin-right: 20px;
}

.middle-column{
  width:35%;
  padding: 20px;

}
.right-column{
  width: 30%;
}

.avatar{
  width:20px;
  height:20px;
}

.chips{
  width: 100%;
  display: flex;
  flex-direction: row;
}
