/*.investigations-grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin: 0 20px;
}*/

.investigation-card {
	/*width: 350px;*/
	margin-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.investigation-card-body {
	border-top: 1px solid #e3e3e3;
  
}

.investigations-grid {
	/*margin: 0 20px;*/
}