.vignette-card {
  border: 1px solid #cccccc;
  height: 500px;
  width: 100%;
}

.vignette-card-row {
  height: 100%;
}

.vignette-card-col {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.vignette-card-left-col {
  width: 50%;
  border-right: 1px solid #cccccc;
  background-color: #f2f2f2;
}

.vignette-card-right-col {
  width: 50%;
  background-color: #ffffff;
}

.vignette-card-header {
  padding: 20px 20px 0 20px;
  background-color: #ebebeb;
  border-bottom: 1px solid #cccccc;
}

.vignette-date, .vignette-author, .vignette-title {
  font-family: 'Montserrat', sans-serif;
}

.vignette-author {
  margin-bottom: 15px;
}

.vignette-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 
}

.vignette-card-left-col-body {
  padding: 20px;
  overflow-y: scroll;
  background-color: #fafafa;
}

.vignette-card-footer {
  align-self: flex-end;
  background-color: #2bc6c8; /* #d34d42 */
  height: 30px;
  width: 100%;
}

.vignette-card-footer-2 {
  align-self: flex-end;
  background-color: #d34d42; /* #d34d42 */
  height: 30px;
  width: 100%; 
}
