.vignette-card {
  border: 1px solid #cccccc;
  height: 500px;
  width: 100%;
}

.vignette-card-row {
  height: 100%;
}

.vignette-card-col {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.vignette-card-left-col {
  width: 50%;
  border-right: 1px solid #cccccc;
  background-color: #f2f2f2;
}

.vignette-card-right-col {
  width: 50%;
  background-color: #ffffff;
}

.vignette-card-header {
  padding: 20px 20px 0 20px;
  background-color: #ebebeb;
  border-bottom: 1px solid #cccccc;
}

.vignette-date, .vignette-author, .vignette-title {
  font-family: 'Montserrat', sans-serif;
}

.vignette-author {
  margin-bottom: 15px;
}

.vignette-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 
}

.vignette-card-left-col-body {
  padding: 20px;
  overflow-y: scroll;
  background-color: #fafafa;
}

.vignette-link-action {
  margin-left: 15px;
}

.vignette-card-footer {
  border-top: 1px solid #ebebeb;
  height: 50px;
  width: 100%;
  margin-top: auto;
  align-items: center;
  padding: 0 10px;
}

.vignette-explore-button {
  border-radius: 2px;
  background-color: #0d77e2;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}
