.search-bar {
    margin-bottom: 10px;
}

.search-results {
    width: 100%;
    margin: 0 0 40px 0;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 78px);
}

.entity-result {
    border-bottom: 1px solid #CCCCCC;
}

.paging-coming-soon {
	margin-top: 20px;
	text-align: right;
}

.spinning-svg path {
    stroke: #FFFFFF !important;
    stroke-width: 0;
}

.around-loading {
    width: 100%;
    height: 100%;
    margin-left: 225px;
    margin-top: 50%;
}