.row {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.page-col {
    align-items: center;
    flex-direction: column;
}

.left-col {
    padding-right: 0;
}

.right-col {
    background-color: #fafafa;
    border-left: 1px solid #dedede;
    /*box-shadow: -2px 0px 20px rgba(0,0,0,0.5);*/
    z-index: 1;
    padding-left: 0;
    justify-content: space-between;
}

.login-box {
    width: 400px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.sexy-input {
    border: 0;
    border-bottom: 1px solid #aaa;
    border-radius: 0;
    margin-bottom: 20px;
    background-color: transparent;
    color: #333;
    padding-left: 0;
}

.sexy-input:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #ff6060;
    background-color: transparent;
    color: #333;
}

.sexy-input::placeholder {
    color: #999;
}

.sexy-input:focus::placeholder {
    opacity: 0.3;
}

.login-form {

}

#home-image {
    width: 40%;
    align-self: flex-end;
    margin-bottom: 20px;
    cursor: default;
}

.login-icon {
    color: #ff6060;
    font-size: 30px;
    margin-right: 15px;
    padding-top: 5px;
}

.temp-logo {
    color: #1c1c1c;
    align-self: flex-start;
    margin: 30px auto 30px auto;
}

.btn-outline-primary {
    border-color: #ff6060;
    color: #ff6060;
}

.btn-primary {
    border-color: #ff6060;
    background-color: #ff6060;
}

.login-btn {
    margin-left: auto;
    margin-right: 20px;
}

#tagline-img {
    max-height: 100%;
}
