.bottombar {
    background-color: #0d77e2;
    position: absolute;
    left: 50px;
    width: calc(100% - 50px);
    bottom: 0;
    border-top: 1px solid #ebebeb;
    padding: 5px 10px;
    display: -ms-flexbox;
    display: flex;
    color: #fafafa;
}

.bottombar-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.bottombar-text {
    margin-bottom: 0;
    font-size: 14px;
    text-align: left;
}

.bottombar-close {
    color: #aaaaaa;
    margin-right: 8px;
}
