.page {
  display: flex;
  height: 100%;
}
.page-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  overflow-x: hidden;
}

.data, .spaces, .upload-data{
  padding: 30px;
}

.upload-data {
  background-color: #fafbfc;
  height: 100%;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 45px;
}

.data-column {
  display: flex;
  flex-direction: column;
}

.investigations-grid {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
/*  justify-content: space-between;
*/}

.investigations-page-header {
  margin-bottom: 15px;
  margin-top: 15px;
}

.investigation-card {
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.investigation-card {
  width: 250px;
}

.card-img-top {
  height: 200px;
}

.investigation-card-body {
  height: 135px;
}

.investigation-card-body, .data-card-body {
  border-top: 1px solid #e3e3e3;
  overflow: scroll;
}

.investigation-card:hover, .investigation-card-selected {
  border-bottom: 8px solid #f1e05a;
  cursor: pointer;
  background-color: #fafbfc;
  color: #0D77E2 !important;
}

.investigation-card-title {
  font-weight: 600;
  font-size: 18px;
}

.investigation-card-title:hover {
  color: #0D77E2 !important;
}

.entity-icon-large {
  cursor: pointer;
  color: #0D77E2;
  margin: auto;
  margin-left: 20px;
  font-size: 40px;
}

.entity-icon-medium {
    cursor: pointer;
    font-size: 30px;
}

.pin-right {
  margin-left: auto;
}

.upload-btn {
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  display: inline-block;
  font-weight: 600;
  vertical-align: middle;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  font-size: 14px;
  height: 3em;
  margin-right: 15px;
}

.upload-btn:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
  background-position: -.5em;
  border-color: rgba(27,31,35,0.35);
}

.focal-btn {
  color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
  display: inline-block;
  font-weight: 600;
  vertical-align: middle;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  font-size: 14px;
  height: 3em;
}

.focal-btn:hover {
  background-color: #269f42 !important;
  background-color: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%) !important;
  border-color: rgba(27,31,35,0.5) !important;
}
 
.btns-row {
  margin-bottom: 15px;
}

.status-public {
  color: #008489 !important;
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 10px;
}

.status-private {
  color: #9B3143 !important;
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 10px;

}