.search-main{
	margin-top: 40px;
}

.home-container {
	margin-top: 60px;
	text-align: center;
}
.home-header {
  font-size: 90px;
  font-family: "Helvetica Neue";
	letter-spacing: 2px;
	color: #555555
}

.home-subheader {
	margin-top: 15px;
	font-family: 'Courier New', Courier, monospace
}