@font-face {
  font-family: 'source-code-pro';
  src: url('/fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
       url('/fonts/sourcecodepro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.entityInfo{
  padding: 0;
  margin: 34px auto;
  max-width: 1000px;
  background-color:white;
}

.search-side {
  display: block;
  background-color: white;
  margin: 10px 20px;
}

.search-side-container {
  height: calc(100% - 12px) ;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 8px 8px 0px 0px;
  z-index: 10;
  transition: left 0.5s;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  transition-property: -webkit-transform,transform,visibility,opacity;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
  overflow-y: auto;
  overflow-x: hidden;
  width: 500px;
  border: 1px;
}

.search-bar {
    margin-bottom: 10px;
}
