@font-face {
  font-family: 'source-code-pro';
  src: url('/fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
       url('/fonts/sourcecodepro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.entityInfo{
  padding: 0;
  margin: 34px auto;
  max-width: 1000px;
  background-color:white;
}

