@font-face {
  font-family: 'source-code-pro';
  src: url('/fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
       url('/fonts/sourcecodepro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.entity-container {
  width: calc(100%);
  padding: 20px 20px 0 20px;
  overflow-y: scroll;
}

.entity-header-wrapper {
  display: flex;
  flex-direction: column;
}

.entity-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 auto;
}

.entity-name {
  font-size: 18px;
  font-weight: bolder;
}

.entity-type {
  margin-left: 5px;
}

.entity-source {
  margin: 0 auto;
}

.entity-body {
  padding: 0 10px;
}

.info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-key {

}

.info-value {
  margin-left: 5px;
}